.main_cont {
    width: 100%;
    height: auto;
}
.flex_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flex_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex_3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex_4 {
    display: flex;
    justify-content: center;
    align-items: center;
}
h1, h4, h2, p {
    color: $color_cold_1;
    font-weight: 200;
}
