.jumbotron {
    background-color: white !important;
    img {
        border-radius: 5px;
    }
}
#particles-js {
    width: 100%;
    height: 300px;
    background-color: $color_cold_1;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.main_title {
    text-align: center;
}
@media (max-width: 768px) {
    .jumbotron {
        img {
            width: 200px;
        }
        h1 {
            font-size: 35px;
        }
    }
}


