.jumbotron {
    background-color: white !important;
    img {
        border-radius: 5px;
    }
}
.skills_cont {
    padding: 40px 0;
}
.skills {
    img {
        width: 100px;
        margin: 0 10px;
    }
}
